@import url('bootstrap');
@import url('bootstrap-icons');
@import url('@fontsource/pt-sans');
@import url('@fontsource-variable/montserrat');
@import "@fontsource/montserrat/300.css";


body {
    font-family: 'montserrat', sans-serif;
    font-weight: 300
}

.logo {
    width: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img-top {
    flex-shrink: 0;
}

.card-body {
    flex-grow: 1;
}