@import url('bootstrap');
@import url('bootstrap-icons');
@import url('@fontsource/pt-sans');

body {
    font-family: 'PT Sans', sans-serif;
}

.logo {
    width: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img-top {
    flex-shrink: 0;
}

.card-body {
    flex-grow: 1;
}