@import url('bootstrap');
@import url('bootstrap-icons');

.logo {
    width: 150px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img-top {
    flex-shrink: 0;
}

.card-body {
    flex-grow: 1;
}