@import url('bootstrap');
@import url('bootstrap-icons');
@import url('@fontsource/pt-sans');
@import url('@fontsource-variable/montserrat');
@import "@fontsource/montserrat/300.css";


body {
    font-family: 'montserrat', sans-serif;
    font-weight: 300
}

.logo {
    width: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img-top {
    flex-shrink: 0;
}

.card-body {
    flex-grow: 1;
}

#loader_wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}